<ion-header>
  <ion-toolbar color ="tertiary">
    <ion-title>Razon social </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/img/salud.jpg"></ion-img>
        <ion-card-header>
         
          <ion-card-title>Clinica universal</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Esta es una entidad publica creada con el fin de cubrir las necesidades del sector salud en el norte del cauca</p>
        </ion-card-content>
      </ion-card>
</ion-content>
